@CHARSET "ISO-8859-1";
body{
	background-image: url("logovanje.jpg");
	background-size: 100%;
	text-align: center;
	color:white;
} 
table{
	 margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}