@CHARSET "ISO-8859-1";
table#centar{
	margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    text-align: center;
	background-color: rgba(255,255,255,0.6);
}

th{
	background-color: rgb(255,255,255);
}


